<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Playfair+Display:wght@400;500&display=swap" rel="stylesheet">
    <!--Styles-->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Главная</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="header__container _container">
            <a href="/" class="header__logo">
                <img src="../assets/img/home-icon.svg" alt="homeIcon" width="103px" height="59px">
            </a>
            <nav class="header__menu menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="/content">Аккаунты</a>
                    </li>
                    <li class="menu__item">
                        <a href="/login">Регистрация</a>
                    </li>
                </ul>
            </nav>
            <div class="header__icons">
                <a href="/">
                    <img src="../assets/img/account.svg" alt="accountIcon" width="103px" height="59px">
                </a>
            </div>
        </div>
    </header>
    <main class="main-block">
        <div class="main-block__container column _container">
            <div class="main-block__info">
                <div class="card__subtitle">
                Всего аккаунтов:
                </div>
            </div>
            <div class="main-block__grid grid">
                <div class="grid__body">
                    <div class="grid__item">
                        <div class="account">
                            <div class="account_card card">
                                <div class="card__subtitle">Алексей Игорев</div>
                                <div class="card__subtitle">@IgorevAlexei@mail.ru</div>
                                <div class="card__subtitle">ITConsulting</div>
                                <div class="card__subtitle">Software Engineer</div>
                                <div class="card__subtitle">+791344558</div>
                                <div class="card__subtitle">+791344558</div>
                                <div class="card__subtitle">+791344558</div>
                            </div>
                        </div>
                    </div>
                    <div class="grid__item">
                        <div class="account">
                            <div class="account_card card">
                                <div class="card__subtitle">Алексей Игорев</div>
                                <div class="card__subtitle">@IgorevAlexei@mail.ru</div>
                                <div class="card__subtitle">ITConsulting</div>
                                <div class="card__subtitle">Software Engineer</div>
                                <div class="card__subtitle">+791344558</div>
                                <div class="card__subtitle">+791344558</div>
                                <div class="card__subtitle">+791344558</div>
                            </div>
                        </div>
                    </div><div class="grid__item">
                    <div class="account">
                        <div class="account_card card">
                            <div class="card__subtitle">Алексей Игорев</div>
                            <div class="card__subtitle">@IgorevAlexei@mail.ru</div>
                            <div class="card__subtitle">ITConsulting</div>
                            <div class="card__subtitle">Software Engineer</div>
                            <div class="card__subtitle">+791344558</div>
                            <div class="card__subtitle"></div>
                            <div class="card__subtitle"></div>
                        </div>
                    </div>
                </div><div class="grid__item">
                    <div class="account">
                        <div class="account_card card">
                            <div class="card__subtitle">Алексей Игорев</div>
                            <div class="card__subtitle">@IgorevAlexei@mail.ru</div>
                            <div class="card__subtitle">ITConsulting</div>
                            <div class="card__subtitle">Software Engineer</div>
                            <div class="card__subtitle">+791344558</div>
                            <div class="card__subtitle">+791344558</div>
                            <div class="card__subtitle">+791344558</div>
                        </div>
                    </div>
                </div><div class="grid__item">
                    <div class="account">
                        <div class="account_card card">
                            <div class="card__subtitle">Алексей Игорев</div>
                            <div class="card__subtitle">@IgorevAlexei@mail.ru</div>
                            <div class="card__subtitle">ITConsulting</div>
                            <div class="card__subtitle">Software Engineer</div>
                            <div class="card__subtitle">+791344558</div>
                            <div class="card__subtitle">+791344558</div>
                            <div class="card__subtitle">+791344558</div>
                        </div>
                    </div>
                </div><div class="grid__item">
                    <div class="account">
                        <div class="account_card card">
                            <div class="card__subtitle">Алексей Игорев</div>
                            <div class="card__subtitle">@IgorevAlexei@mail.ru</div>
                            <div class="card__subtitle">ITConsulting</div>
                            <div class="card__subtitle">Software Engineer</div>
                            <div class="card__subtitle">+791344558</div>
                            <div class="card__subtitle"></div>
                            <div class="card__subtitle">+791344558</div>
                        </div>
                    </div>
                </div><div class="grid__item">
                    <div class="account">
                        <div class="account_card card">
                            <div class="card__subtitle">Алексей Игорев</div>
                            <div class="card__subtitle">@IgorevAlexei@mail.ru</div>
                            <div class="card__subtitle">ITConsulting</div>
                            <div class="card__subtitle">Software Engineer</div>
                            <div class="card__subtitle">+791344558</div>
                            <div class="card__subtitle">+791344558</div>
                            <div class="card__subtitle">+791344558</div>
                        </div>
                    </div>
                </div><div class="grid__item">
                    <div class="account">
                        <div class="account_card card">
                            <div class="card__subtitle">Алексей Игорев</div>
                            <div class="card__subtitle">@IgorevAlexei@mail.ru</div>
                            <div class="card__subtitle">ITConsulting</div>
                            <div class="card__subtitle">Software Engineer</div>
                            <div class="card__subtitle">+791344558</div>
                            <div class="card__subtitle">+791344558</div>
                            <div class="card__subtitle">+791344558</div>
                        </div>
                    </div>
                </div><div class="grid__item">
                    <div class="account">
                        <div class="account_card card">
                            <div class="card__subtitle">Алексей Игорев</div>
                            <div class="card__subtitle">@IgorevAlexei@mail.ru</div>
                            <div class="card__subtitle">ITConsulting</div>
                            <div class="card__subtitle">Software Engineer</div>
                            <div class="card__subtitle">+791344558</div>
                            <div class="card__subtitle">+791344558</div>
                            <div class="card__subtitle">+791344558</div>
                        </div>
                    </div>
                </div><div class="grid__item">
                    <div class="account">
                        <div class="account_card card">
                            <div class="card__subtitle">Алексей Игорев</div>
                            <div class="card__subtitle">@IgorevAlexei@mail.ru</div>
                            <div class="card__subtitle">ITConsulting</div>
                            <div class="card__subtitle">Software Engineer</div>
                            <div class="card__subtitle"></div>
                            <div class="card__subtitle">+791344558</div>
                            <div class="card__subtitle">+791344558</div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="pagination">
                <div class="pagination__container _container">
                    <div class="pagination__buttons">
                        <button class="pagination__button button">1</button>
                        <button class="pagination__button button">1</button>
                        <button class="pagination__button button">1</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <nav class="footer__links link">
            <a href="#" class="footer__link">О нас</a>
        </nav>
    </footer>
</div>
</body>
</html>