<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Playfair+Display:wght@400;500&display=swap" rel="stylesheet">
    <!--Styles-->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Главная</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container _container">
                <a href="/" class="header__logo">
                    <img src="../assets/img/home-icon.svg" alt="homeIcon" width="103px" height="59px">
                </a>
                <nav class="header__menu menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="/content">Аккаунты</a>
                        </li>
                        <li class="menu__item">
                            <a href="/login">Регистрация</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__icons">
                    <a href="/">
                        <img src="../assets/img/account.svg" alt="accountIcon" width="103px" height="59px">
                    </a>
                </div>
            </div>
        </header>
        <main class="main-block">
            <div class="main-block__container _container">
                <div class="main-block__card card">
                    <div class="card__greetings">
                        <div class="card__title">Реестр аккаунтов</div>
                        <div class="card__subtitle">Создайте свой аккаунт прямо сейчас!</div>
                    </div>
                    <div class="card__buttons">
                        <a>
                            <div class="card__button button">Список</div>
                        </a>
                        <a>
                            <div class="card__button button">Создать</div>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <nav class="footer__links link">
                <a href="#" class="footer__link">О нас</a>
            </nav>
        </footer>
    </div>
</body>
</html>